---
import Base from "@/layouts/Base.astro";
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const BLOG_FOLDER = "blog";
const posts = await getSinglePage(BLOG_FOLDER);
const sortedPosts = sortByDate(posts);
const itemsPerPage = config.settings.pagination;
const totalPages: number = Math.ceil(sortedPosts.length / itemsPerPage);
const currentPage = 1;
const startIndex = (currentPage - 1) * itemsPerPage;
const paginatedPosts = sortedPosts.slice(startIndex, startIndex + itemsPerPage);
---

<Base>
  <!-- Blog Posts -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-8 text-center">
          <h1 class="mb-4 text-h3 lg:text-h1">Blog</h1>
        </div>
      </div>
      <div class="row">
        {paginatedPosts.map((post) => (
          <div class="mb-14 md:col-6">
            <BlogCard data={post} />
          </div>
        ))}
      </div>
      {totalPages > 1 && (
        <Pagination
          section={BLOG_FOLDER}
          currentPage={currentPage}
          totalPages={totalPages}
        />
      )}
    </div>
  </section>
</Base>
